/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;
}
.flex{
    display: flex;
}
.jcb{
    justify-content: space-between;
}
.aic{
 align-items: center;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    
}

/* left Side */
.leftSide{
    width: 50%;
    background-image: url('../image/bg.jfif');
    background-size: cover;
    color: #fff;
}
.info{
    padding: 140px 50px;
   
}
/* Right Side */
.rightSide{
    width: 50%;
    padding: 50px;
}
.test{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0  0 70px 0;
}
.login h1{
    font-weight: normal;
    letter-spacing: 2px;
    padding: 25px 0;
}
.login a{
    text-decoration: none;
}
.login_form .btn{
    text-decoration: none;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #666;
    text-transform: capitalize;
    margin-bottom: 20px;
    transition: .5s;
}
.login_form .btn:hover{
    background-color: #eee;
}
.or{
   padding: 25px 0; 
}
.hr{
    width: 45%; 
    height:1px; 
    color: #ddd; 
}
.form-groub{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.form-groub input{
    border: 1px solid #888;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
}
.form-groub label{
    color: #888;
}
.eye{
    position: absolute;
    right: 50px;
    cursor: pointer;
}
@media (max-width:770px) {
    .leftSide{
        display: none;
    }
    .rightSide{
        width: 100%;
    }
}
.forget-password{
    display: block;
    text-align: right;
    color: #333;
    text-decoration: underline !important;
}
.submit{
    padding: 10px 30px ;
    border-radius: 32px;
    background:#997825;
    color: #fff;
    border: 0;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .5s;
}
.submit:hover{
    background-color: #b18d32;
}